.inputField{
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  font-family: inherit;
  margin-top: 5px;
  font-size: 1rem;
  font-weight:200;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  appearance: none;
}
